<p>TYPE YOUR TEXT AND CHANGE HIS SIZE</p>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="../../public/img/doge.png" alt="" class="img-responsive">
        </div>
        <div class="col-md-6">
            <textarea name="" placeholder="Top text" class="form-control" rows="6"></textarea>
            <hr>
            <textarea name="" placeholder="Bottom text" class="form-control" rows="6"></textarea>
            <hr>
            <button type="button" class="btn btn-success btn-lg">Generate</button>
        </div>
    </div>
</div>
