
    <p>SHARE YOUR PICTURE</p>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../public/img/doge.png" alt="" class="img-responsive">
            </div>
            <div class="col-md-6 social-buttons">
              <button class="btn btn-block btn-social btn-facebook" id="fb">
              <i class="fa fa-facebook"></i> Share with Facebook
              </button>
              <hr>
              <button class="btn btn-block btn-social btn-twitter" id="twitter">
              <i class="fa fa-twitter"></i> Share with Twitter
            </button>
            <hr>
              <div class="search">
                <span class="fa fa-link"></span>
                <input placeholder="Search term" style="width: 100%; height: 59px;">
              </div>
            </div>
        </div>
    </div>
