    <p>SHARE YOUR PICTURE</p>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="public/uploadImg/{{ID}}.{{TYPE}}" alt="" class="img-responsive">
            </div>
            <div class="col-md-6 social-buttons">
              <button class="btn btn-block btn-social btn-facebook" href="https://www.facebook.com/sharer/sharer.php?display=popup&redirect_uri=" id="fb">
              <i class="fa fa-facebook"></i> Share with Facebook
              </button>
              <hr>
              <button class="btn btn-block btn-social btn-twitter" href="https://twitter.com/intent/tweet?text=" id="twitter">
              <i class="fa fa-twitter"></i> Share with Twitter
            </button>
            <hr>
              <div class="search">
                <span class="fa fa-link"></span>
                <input placeholder="Search term" style="width: 100%; height: 56px;">
              </div>
            </div>
        </div>
    </div>
