<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../font-awesome/css/font-awesome.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="../../css/themeA/style.css">
    <link rel="stylesheet" href="../../css/themeA/bootstrap.min.css">
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <title></title>
  </head>
  <body>
    <p>SHARE YOUR PICTURE</p>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../public/img/doge.png" alt="" class="img-responsive">
            </div>
            <div class="col-md-6 social-buttons">
              <button class="btn btn-block btn-social btn-facebook" id="fb">
              <i class="fa fa-facebook"></i> Share with Facebook
              </button>
              <button class="btn btn-block btn-social btn-twitter" id="twitter">
              <i class="fa fa-twitter"></i> Share with Twitter
              </button>
              <button class="btn btn-block btn-social btn-twitter" id="twitter">
              <i class="fa fa-link"></i> Share with Twitter
              </button>
            </div>
        </div>
    </div>
  </body>
</html>
